#app {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#roadmap .stages .item .progress{
  position: relative;
  z-index: 1;
}

#roadmap .stages .item:not(:last-child) .progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc((80vw - 3rem) / 4);
  height: 5px;
  background-color: #f2f4f7;
  z-index: -1;
}

#roadmap .stages .item .progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f4f7;
  z-index: 1;
  border-radius: 9999px;
  background: linear-gradient(to right, #E209D4, #FFA9F9);
}


@media screen and (max-width: 1536px) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 1280px) {
  html{
    font-size: 70%;
  }
}
@media screen and (max-width: 600px) {
  html{
    font-size: 50%;
  }
}