#app {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#roadmap .stages .item .progress::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: 5px;
  background-color: #f2f4f7;
}


@media screen and (max-width: 1536px) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 1280px) {
  html{
    font-size: 70%;
  }
}