#app {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 1536px) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 1280px) {
  html{
    font-size: 70%;
  }
}